" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
let mapleader=" "

imap jk <Esc>
"source ~/.vim/vimrc
set ideajoin

# https://www.dev-log.me/VimtelliJ:_All_the_best_of_Vim_in_IntelliJ/
set surround
nnoremap <leader>y :action PasteMultiple<CR>

" https://danidiaz.medium.com/configuring-ideavimrc-de16a4da0715
set number
" set relativenumber

set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>